/* static/css/style.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('https://media.istockphoto.com/id/2152164861/photo/tv-with-different-video-streaming-services.jpg?s=1024x1024&w=is&k=20&c=BJT7DLMjQzoYJ9MFiX8Thqsk1R7XR4WTv10E_ygkFSk=');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #e2dbdb;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

input[type="search"] {
    position: fixed;            /* Keeps the search bar in place when scrolling */
    top: 250px;                  /* Adjust to position vertically from the top */
    left: 60%;                  /* Centers it horizontally */
    transform: translateY(-50%); /* Ensures the bar is centered on the screen */
    width: 200%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(22, 22, 22, 0.1);
    outline: none;
    transition: border 0.2s ease;
    background-color: #fff;
    z-index: 1000;
}

input[type="search"]:focus {
    border: 1px solid #007bff;
}

ul {
    position: absolute;
    left: 100px;                 /* Leave some space between search bar and results */
    top: 50px;                   /* Adjust top margin if needed */
    max-width: 600px;
    width: calc(100% - 300px);   /* Adjust width to fill the remaining screen space */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    color: #222121;
    font-weight: bold;
}
