/* static/css/style.css */

body {
    background: linear-gradient(120deg, rgba(20, 20, 20, 0.8), rgba(50, 50, 50, 0.8)), 
                url('https://media.istockphoto.com/id/2152164861/photo/tv-with-different-video-streaming-services.jpg?s=1024x1024&w=is&k=20&c=BJT7DLMjQzoYJ9MFiX8Thqsk1R7XR4WTv10E_ygkFSk=');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: fadeIn 2s ease-in-out; /* Animation effect */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
    z-index: -1;
}

input[type="search"] {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border 0.2s ease;
}

input[type="search"]:focus {
    border: 1px solid #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    width: 100%;
    margin: 20px 0;
}


li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for show details */
li span {
    color: #333;
    font-weight: bold;
}