<!DOCTYPE html>
<HTML>
    <HEAD>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Shows</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </HEAD>
        <BODY>

            <input autocomplete="off" autofocus placeholder="Search shows..." type="search">

            <ul></ul>

            <script>

                let input = document.querySelector('input');
                input.addEventListener('input', async function() {
                    let response = await fetch('/search?q=' + input.value);
                    let shows = await response.text();
                    document.querySelector('ul').innerHTML = shows;
                });

            </script>
        </BODY>
</HTML>
